language: node_js
node_js:
  - '6.3.0'

before_install:
 - export CHROME_BIN=chromium-browser
 - export DISPLAY=:99.0
 - sh -e /etc/init.d/xvfb start

script:
  - npm install
  - npm test -- --browsers=Firefox --single-run
  - npm run protractor -- --browser=firefox
