body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

ng-view, footer {
  display: block;
  margin: 0 1rem;
  width: 100%;
}

footer {
  font-size: 14px;
  color: #8a8a8a;
}

.menu {
  margin: 0px;
  padding: 1rem;
  background-color: #FAFAFA;
  border-bottom: 1px solid #E5E5E5;
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3rem;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
